
<template name="humanTraffickingForm">
      <div>
        <p>Sign the petition to raise the awareness of the human trafficking issues</p>
      </div>
      <div class="questionRow">
        <div class="questionDataLeft">
          Name
        </div>
        <div class="questionDataRight">
          <input type="text">
        </div>
      </div>
      <div class="questionRow">
        <div class="questionDataLeft">
          Email
        </div>
        <div class="questionDataRight">
          <input type="text">
        </div>
      </div>
      <div class="questionRow">
        <button>Submit</button>
      </div>
      <hr style="color:#BDBDBD" />
      <div class="questionRow">
        Share:<br/>
        <a class="blueLink" href=""><span><i class="fa fa-facebook-official" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
        <a class="blueLink" href=""><span><i class="fa fa-twitter-square" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
        <a class="blueLink" href=""><span><i class="fa fa-instagram" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
        <a class="blueLink" href=""><span><i class="fa fa-whatsapp" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
        <a class="blueLink" href=""><span><i class="fa fa-google-plus" aria-hidden="true" style="font-size:30px;margin:1em;"></i></span></a>
      </div>
</template>